/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: INFORMATION
/*—————————————————————————————————————————————————————————————————————————*/

/*
	CSS for the LOGIN component.
*/

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/

/*—————————————————————————————————————————————————————————————————————————*/
/*—— SECTION: FORM
/*—————————————————————————————————————————————————————————————————————————*/

.form-signin {
	position: relative;
	top: 4em;
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	color: var(--text-color-2);
	background-color: var(--background-color-2);
}

.form-input {
	border: none;
	outline: none;
	background: none;
	border-radius: 0;
	margin-bottom: 1em;
	color: var(--color-5);
	border-bottom: var(--border-12);
}

.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--text-color-2);
	opacity: 1; /* Firefox */
}

.form-input:focus {
	box-shadow: none;
	border-bottom: var(--border-5);
}

.form-input:focus::placeholder {
	color: var(--color-5);
	opacity: 1; /* Firefox */
}

#show-password-btn {
	position: relative;
	left: 8em;
	bottom: 3.5em;
	background: none;
	color: var(--color-5);
	border: var(--border-5);
}

#show-password-btn:active {
	outline: none;
}

#create-account-btn {
	color: var(--color-5);
}

.btn {
	background: none;
	color: var(--text-color-2);
	border: var(--border-5);
}

.btn:focus {
	box-shadow: none;
}

.btn:active {
	font-weight: 400;
	color: var(--text-color-1);
	background-color: var(--color-5);
}

.checkbox {
	position: relative;
	bottom: 1.5em;
}

.remember-me {
	margin-right: 0.5em;
	background: none;
	border: var(--border-12);
}

.copyright {
	color: var(--text-color-2) !important;
}

/*——— !SECTION —————————————————————————————————————————————————————————————————————*/