<body>
	<!-- SECTION: Navbar -->
	<div>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<!-- ANCHOR: Home Button -->
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
						</li>
						
						<!-- ANCHOR: Login Button -->
						<li class="nav-item">
							<a class="nav-link active" routerLink="/login">Login</a>
						</li>

						<!-- <li class="nav-item">
							<a class="nav-link active" routerLink="/addNewEmployee">Add New Employee</a>
						</li> -->

						<!-- Add -->
						<!-- <button type="button" title="Add New Employee" class="btn btn-outline-success position-" (click)="addNewEmployee()"><mat-icon>person_add</mat-icon></button> -->
						<!-- <button type="button" title="Add New Employee" class="btn btn-outline-success position-" routerLink="/addNewEmployee"><mat-icon>person_add</mat-icon></button> -->
						<!-- View -->
						<!-- <button type="button" class="btn btn-info" (click)="employeeInfo(emp)">View</button> -->
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- SECTION: ROUTER OUTLET -->
	<router-outlet></router-outlet>
</body>
