<body class="text-center">
	<form #registerForm="ngForm" (ngSubmit)="registerUserForm(registerForm)" class="form-signin" autocomplete="off">
		<img class="mb-4" src="../assets/images/mighty-force-red.png" alt="" width="72" height="72">
	
		<h1 class="h4 mb-3 font-weight-normal">Fill out the information below to begin your <span style="color: var(--color-5);">journey.</span></h1>

		<!-- ANCHOR: Username -->
		<input type="username" id="inputUsername" class="form-input form-control" placeholder="First Name" required="" autofocus="">

		<!-- ANCHOR: First Name -->
		<input type="First Name" id="inputFirstName" class="form-input form-control" placeholder="Last Name" required="" autofocus="">
		
		<!-- ANCHOR: Last Name -->
		<input type="Last Name" id="inputLastName" class="form-input form-control" placeholder="Username" required="" autofocus="">

		<!-- ANCHOR: Email -->
		<input type="email" id="inputEmail" class="form-input form-control" placeholder="Email address" required="" autofocus="">
		
		<!-- ANCHOR: Password -->
		<input [type]="show ? 'text' : 'password'" id="inputPassword" class="form-input form-control" placeholder="Password" required="">
		<button id="show-password-btn" (click)="password()">{{show ? '✖' : '👁'}}</button>


		<input [type]="show ? 'text' : 'password'" id="inputPasswordAgain" class="form-input form-control" placeholder="Password Again" required="">

		<!-- <div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me">Remember me
			</label>
		</div> -->

		<!-- <h1 class="h6 mb-3 font-weight-normal">
			Not a member?
			<a id="create-account-btn" class="" href="/register">Create an account.<span class="sr-only"></span></a>
		</h1> -->

		<button class="btn btn-lg btn-block" type="submit">Register</button>
		
		<p class="mt-5 mb-3 text-muted copyright">IRONWORKS © 2023</p>
	</form>
</body>